@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bgcontainer {
    display: flex;
    flex-direction: column;
}

.upperpart {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/best-service-stats-sm-bg.png");
    height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.contentbox {
    display: flex;
    align-items: center;

}

.logo {
    width: 80px;
    margin: 10px;
}

.heading {
    font-family: "open sans";
    font-size: 35px;
    color: white;
}

.headingabout {
    font-family: "open sans";
    font-size: 15px;
    color: white;
}

.lowerpart {
    padding: 20px;
}

.cardname {
    font-family: "open sans";
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.aboutcard {
    font-family: "open sans";
    font-size: 15px;
    color: #594d6d;
    flex-wrap: wrap;
}

.cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cards {
    margin: 20px;
}

.number {
    font-family: "open sans";
    font-size: 20px;
    color: #176fff;
    font-weight: bold;
}

.countto {
    font-family: "open sans";
    font-size: 20px;
    color: #323f4b;
}

.content {
    display: Flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width:992px) {
    .heading {
        font-size: 45px;
    }

    .upperpart {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/best-service-stats-lg-bg-v1.png");
        flex-grow: 1;
        width: 50vw;
    }

    .bgcontainer {
        flex-direction: row;
    }
}